In [41]:
# using pandas to create the table and json to extract the json data
import pandas as pd
import json

In [42]:
# this is our function to create the table
def create_table(records):
    # we can make a list of the teams by using keys()
    teams = list(records.keys())
    # now we can create our initial table which will have incorrect values, but will have the correct number of cells needed
    df = pd.DataFrame(records)
    # setting each row index to the team name
    df.index = teams
    # now we can cycle through each team in our list
    for team in teams:
        # within each team, we want to cycle through each opposing team
        for opponent in teams:
            # now let's make sure that we're getting the record for our team against a different opponent
            if team != opponent:
                # setting that cell in the table to the win record
                df.at[team, opponent] = records[team][opponent]['W']
            # if the team is equal to the opponent
            else:
                # set the win record to --
                df.at[team, opponent] = "--"
    return df

In [43]:
# here we load our records from the JSON file
with open ("stats.json", "r") as f:
    stats = json.load(f)

# calling the function and storing the result in a variable
result = create_table(stats)
#returning the final table visual
result.head(8)

    BRO BSN CHC CIN NYG PHI PIT STL
BRO  --  10  15  15  14  14  15  11
BSN  12  --  13  13  13  14  12   9
CHC   7   9  --  12   7  16   8  10
CIN   7   9  10  --  13  13  13   8
NYG   8   9  15   9  --  12  15  13
PHI   8   8   6   9  10  --  13   8
PIT   7  10  14   9   7   9  --   6
STL  11  13  12  14   9  14  16  --