In [ ]:
import pandas as pd
import json

In [7]:
with open ("stats.json", "r") as f:
    stats = json.load(f)
    
teams = list(stats.keys())

In [15]:
df = pd.DataFrame(stats)
df.index = teams
for team in teams:
    for opponent in teams:
        if team != opponent:
            df.at[team, opponent] = stats[team][opponent]['W']
        else:
            df.at[team, opponent] = "--"
df.head(8)

    BRO BSN CHC CIN NYG PHI PIT STL
BRO  --  10  15  15  14  14  15  11
BSN  12  --  13  13  13  14  12   9
CHC   7   9  --  12   7  16   8  10
CIN   7   9  10  --  13  13  13   8
NYG   8   9  15   9  --  12  15  13
PHI   8   8   6   9  10  --  13   8
PIT   7  10  14   9   7   9  --   6
STL  11  13  12  14   9  14  16  --